@import url('https://fonts.googleapis.com/css2?family=Judson:ital,wght@0,400;0,700;1,400&family=Oswald:wght@200;300;400;500;600;700&family=Quando&family=Raleway:ital,wght@0,400;0,500;0,800;0,900;1,600;1,800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Raleway;
}

 /* Style pg index.html */
body{
    width: 100%;
}

header{
   background-color:  #213a5c;
   padding: 2px 0;
   text-align: center;
   border-bottom: 2px solid #0e2038;
   height: 70px;
   
}

nav{
    display: flex;
    justify-content: space-around;
    padding: 10px;

}
nav h1{
    color:#d3d3d3;
    font-size: 40px;
    font-weight: bold;
}

nav ul{
    display: flex;
    align-items: center;
    list-style: none;
}

nav ul li{
    margin-right: 40px;
}

nav ul li a{
    color:#d3d3d3;
}

.container{
   display: flex;
   background-color: #6d829b;
   background-image: url('../img/computer- fiber.jpeg');
   background-size: cover;
   align-items: center;
   height: 85vh;
   padding: 0 10%;
   justify-content: left;
}

.content h1{
    font-size: 40px;
    color:rgb(48, 47, 47);
    margin-right: 200px;
}

.content p{
    font-size: 25px;
    color:rgb(48, 47, 47);
    margin-top: 10px;
    margin-bottom: 35px;
}

.content a{
    display: inline-block;
    background-color: #074276;
    font-size: 18px;
    text-decoration: none;
    color: whitesmoke;
    padding: 10px 20px;
    border-radius: 5px;
}

.content-2{
    background-color: #e84d1b;
    height: 75vh;
}

.content-2 h1{
    color: #efeeee;
}

footer{
    background-color:  #213a5c;
    color:#d3d3d3;
    padding:30px;
    text-align: center;
    justify-items: center;
    border-top: 2px solid #0e2038;
    padding-top: 20px;
 }

 /* Style pg services.html */

 .container-service{
   background-color: #6d829b;
   background-size: cover; /* put img background */
   width: 100%;
   margin: 0 auto;
}

.service{
    width: 35%;
    margin: 2%;
    padding: 20px;
    display: inline-block;
}

.service h1{
    font-family: Raleway, sans-serif;
    font-size: 35px;
    color:#efeeee
}

.service h3{
    margin-top: 15px;
    font-family: Raleway, sans-serif;
    font-size: 25px;
    color:#efeeee
}

ul li{
    list-style: none;
    margin-top: 30px;
}

.img{
    width: 100%;
    height: 300px;
    background-position: center;
    background-size: cover;
}