.clients{
    height: 20vh;
    width: 100%;
    background-color: gainsboro;
}

.clients h1{
    font-size: 40px;
    color:#e84d1b;
    text-align: center;
    padding-top: 20px;
}

.clients p{
    font-size: 30px;
    color:#0e2038;
    text-align: center;
    padding-top: 10px;
}

.clients-countainer{
    background-color: yellow;
    background: yellow;
    padding: 10px;    
    justify-content: center;
}

.clients-business{
    width:100%;
    margin: 0 auto;
}

.clients-logo{
    width: 200px;
    height: 200px;
    display: inline-block;
    justify-content: center;
    text-align: center;
    margin: 3% 1%;
    padding: 8px;
    margin-left: 120px;
}
.clients-logo a{
    text-decoration: none;
    color:black;
    font-weight: bold;
    font-size: 20px;
}
.logo-brand{
    height: 200px;
    width: 100%;
    margin-bottom: 10px;
    background-position: center;
    background-size: contain;
}

#vodafone{
    background-image: url(../img/vodafone.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
#three{
    background-image: url(../img/three.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}      
#code-institute{
    background-image: url(../img/code-institute.png);
    background-position:center;
    background-repeat: no-repeat;
}   
#tesco-mobile{
    background-image: url(../img/tesco-mobile.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#aib{
    background-image: url(../img/aib.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#primark{
    background-image: url(../img/primark.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#permanenttsb{
    background-image: url(../img/permanent.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#dunnesstores{
    background-image: url(../img/dunnes.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

 